.cast {
    cursor: pointer;
    text-decoration: none;
    margin-right: 15px;


}

.rewievs {
    cursor: pointer;
    text-decoration: none;
}

.cast:focus{
 font-weight: 600;
 color: black;

}


.rewievs:focus{
    font-weight: 600;
    color: black;
   
   }

   .movieContainer{
    width: 1800px;
    padding: 15px;
   }

   .movieCard {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
   }

   .movieInfo{
    display: flex;
    flex-direction: column;
    gap: 15px;
   }

.goBack{
    text-decoration: none;
   
    padding: 3px;
    color: black;
}

.icon{
    width: 50px;
    height: 30px;

}